<script>
  function toggleMenu() {
    var header = document.getElementById("header");
    header.className = header.className.includes("menuIsOpen")
      ? "header"
      : "header menuIsOpen";
  }
  function closeMenu() {
    document.getElementById("header").className = "header";
  }
</script>
<header id="header" class="header">
  <div class="flexContainer">
    <nav>
      <ul>
        {{ range .Site.Menus.main }}
        <li>
          <a class="nav-link" href="{{ .URL }}" onclick="closeMenu()">
            {{ $text := print .Name | safeHTML }} {{ $text }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
    <button class="menuIcon" aria-label="Toggle menu" onclick="toggleMenu()">
      <span class="navIcon"></span>
    </button>
  </div>
</header>
